body{
    background-color: rgb(35, 35, 35);
    text-align: center;
    font-family: Helvetica;
}
h1,p {
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}